<h1>Zaloguj się</h1>
<%= link_to "Pracownik", new_employee_session_path, class: 'btn btn-outline-primary btn-lg mr-3' %>
<%= link_to "Przełożony", new_supervisor_session_path, class: 'btn btn-outline-primary btn-lg'  %>
