<h1><%= current_employee.name %></h1>
<% if current_employee.quiz_taken %>
  <p>Gratulacje, zrobiłeś test!</p>
<% else %>
  <p>Jeszcze nie zrobiłeś quizu. Kliknij na poniższy przycisk żeby rozpocząć test.</p>
  <%= link_to 'ROZPOCZNIJ TEST', question_path(@questions.pop), class: 'btn btn-info' %>

<% end %>
